[submodule "scripts/lists/SecLists"]
	path = scripts/lists/SecLists
	url = https://github.com/danielmiessler/SecLists.git
[submodule "scripts/html"]
	path = scripts/html
	url = https://github.com/ThorD125/interwebs/
[submodule "scripts/php/webshell-advanced"]
	path = scripts/php/webshell-advanced
	url = https://github.com/ThorD125/wwwolf-php-webshell
